@media (max-width:320px) {
    #contenedorDerechos {
        width: 227px;
        height: 22px;
        margin: 0;
        padding-top: 24px;
        padding-left: 14.7%;
        padding-bottom: 16px;
    }
    #derechos {
        width: 227px;
        height: 22px;
        padding: 0;
        margin: 0;
    }
    .contenedorIconos {
        display: flex;
        justify-content: space-around;
        width: 227px;
        padding-left: 14.7%;
        padding-bottom: 31px;
    }
}

@media (min-width:320.1px) {
    footer {
        display: flex;
    }
    #contenedorDerechos {
        width: 269px;
        height: 28px;
        margin: 0;
        padding-top: 36px;
        padding-left: 100px;
        padding-bottom: 31px;
    }
    #derechos {
        width: 269px;
        height: 28px;
        padding: 0;
        margin: 0;
    }
    .contenedorIconos {
        display: flex;
        justify-content: space-around;
        width: 227px;
        padding-top: 36px;
        padding-left: 51.3%;
        padding-bottom: 31px;
    }
    i {
        width: 18px;
        height: 28px;
        font-size: 18px;
        color: #060A24;
    }
}