@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  header {
    position: relative;
    width: 100%;
    height: 0.8%;
  }
  #logo {
    width: 24px;
    height: 24px;
    margin: 0;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0;
  }
  .navegacion a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 0 0 1em 0;
    line-height: 28px;
  }
  .navegacion a:hover {
    color: #494c5f;
  }
  .hamburguesa {
    width: 40px;
    height: 32px;
    position: absolute;
    left: 88.4%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .linea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 18px;
    height: 2px;
    margin: 5px;
    left: 88%;
    top: 0.5em;
    background: black;
    border-radius: 3px;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    z-index: 0;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .linea1 {
    top: 10px;
  }
  .linea2 {
    top: 15px;
  }
  .linea3 {
    top: 20px;
  }
  .linea:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .linea:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .hamburguesa:checked ~ .linea {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #060A24;
  }
  .hamburguesa:checked ~ .linea:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  .hamburguesa:checked ~ .linea:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  .navegacion {
    position: absolute;
    width: 100%;
    background: transparent;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .navegacion a {
    color: white;
    font-size: 0;
  }
  .hamburguesa:checked ~ .nav .navegacion {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background: #0000EC 100%;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hamburguesa:checked ~ .nav .navegacion a {
    color: white;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 9px;
    padding-left: 16px;
    line-height: 28px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .hamburguesa {
    left: 93%;
  }
  .linea {
    left: 93%;
  }
}

@media (min-width: 768.1px) {
  header {
    margin: 0;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
  }
  #logo {
    width: 2.5%;
    height: 2.5%;
    margin: 0;
    padding-left: 100px;
    padding-top: 22px;
    padding-bottom: 22px;
    z-index: 0;
  }
  .hamburguesa {
    opacity: 0;
    z-index: -3;
  }
  .linea {
    opacity: 0;
    z-index: -3;
  }
  .navegacion {
    position: relative;
    padding-top: 26px;
    margin-left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    width: 100%;
  }
  .navegacion a {
    display: inline-block;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    margin-left: 48px;
    line-height: 28px;
  }
  .navegacion a:active {
    text-decoration: line-through;
    color: #060A24 56%;
  }
  .navegacion a:hover {
    text-decoration: line-through;
    color: #00F3BB;
  }
}

@media (min-width: 1200px) {
  .navegacion {
    margin-left: 45%;
  }
}

@media (min-width: 768.1px) and (max-width: 1200px) {
  .navegacion {
    margin-left: 35%;
  }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
  .navegacion {
    margin-left: 25%;
  }
}

@media (min-width: 768.1px) and (max-width: 869px) {
  .navegacion {
    margin-left: 15%;
  }
}
/*# sourceMappingURL=Header-Style.css.map */