    @media (max-width:768px) {
        #invitados {
            position: relative;
        }
        #tituloInvitados {
            padding-top: 10px;
            padding-left: 5%;
            padding-bottom: 14px;
        }
        .contenedorPadre {
            display: flex;
            flex-wrap: wrap;
        }
        .contenedorImagen {
            width: 100%;
        }
        .imagenInvitado {
            text-align: center;
            width: 100%;
            height: 243px;
        }
    }
    
    @media (min-width:425.1px) and (max-width:768px) {
        .imagenInvitado {
            text-align: center;
            width: 100%;
            height: 400px;
        }
    }
    
    @media (min-width: 768.1px) {
        #invitados {
            position: relative;
        }
        #tituloInvitados {
            // padding-top: 25px;
            padding-left: 200px;
            padding-bottom: 36px;
            font-size: 48px;
        }
        .contenedorPadre {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .contenedorImagen {
            width: 33.33%;
        }
        .imagenInvitado {
            width: 100%;
            height: 364px;
        }
    }